node_modules/
examen.db
sessions.db
url_actual.txt
iniciar-ngrok.bat
iniciar-ngrok.ps1
SESION_TRABAJO.md
uploads/*
!uploads/.gitkeep
.env
insert_batch.js
backup_data.json
import.sql
import_data.js
gen_sql.js
preguntas_lectura.html
preguntas_sociales.html
respaldo_sincronizado/
*.db
*.sqlite
